#flex-container {
   padding: 10px ;
   height: 585px;
   margin-top: 10%;
   margin-left:auto;
   margin-right: auto; 
   

}


.urlShrt{
    display:inline;
    background-color: pink;
    height: 50px;
    width: 50px;
    
    
}
    

#urlAlma{
    text-align: center;
    
    
}

#urlAlma input[placeholder] {
    border-color: rgba(137, 43, 226, 0);
    color: #a9a9a9; /* Placeholder rengini deÄŸiÅŸtirir */
    font-size: 16px; /* Placeholder yazÄ± boyutunu deÄŸiÅŸtirir */
    opacity: 0.8; /* Placeholder ÅŸeffaflÄ±ÄŸÄ±nÄ± deÄŸiÅŸtirir */
    transition: opacity 0.3s ease; /* Placeholder'a geÃ§iÅŸ efekti ekler */

    
        width: 100%;
        max-width: 400px;
        padding: 15px;
        border: 2px solid #d3d3d3;
        border-radius: 25px;
        background-color: #f9f9f9;
        font-size: 16px;
        color: #333;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        outline: none;
    
    
}

button{
    padding: 15px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 50px;
    background-color: #905d7ea8;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h1{
    text-align: center;
    color: #11111160;
    
}

body{ 
    display: flex;
    flex-direction: column;
    background-color:pink;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:x-large;
}

a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    color: #a9a9a986;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 5vh; 
}

footer{
    height: 50px;
    background-color: rgba(205, 111, 159, 0);
    color: rgb(149, 139, 139);
    text-align: center;
    border-top: solid 1px rgb(149, 139, 139);
    margin-top: auto; /* Footer'Ä± en alta iter */
    padding: 10px 0;
    font-size: medium;       
}  

