<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='urlShrt.css') }}">
</head>
<body>
    <div id="flex-container">
        <div class="urlShrt">
 
         <h1>URL Shortener</h1>

             <form id="urlAlma">
                 <input type="url" placeholder="Enter Link Here">
                 <button type="submit">Shorten</button>
             </form>
            
             
         </div>
     </div>
</body>
</html>
